.theCalculator {
    .britnex {
        height: 2em;
        display: inline;

        &.equals {
            height: 3em;
        }

        &.hidden {
            visibility: hidden;
        }
    }

    .calculate_this {
        text-align: center;
    }
}