.formulare {
    position: relative;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

    * {
        position: absolute;
    }

    .hidden {
        visibility: hidden;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }

    .center {
        left: 44%;
    }

    .form {
        width: 400px;
    }

    .primegroup {
        border: medium solid blue;
        padding: 11px;
        border-radius: 16px;
    }

    .dh_formula1 {
        top: 6.6em;
    }

    .dh_formula2 {
        top: 14em;
    }

    .alice,
    .bob,
    .alice *,
    .bob * {
        font-weight: bold;
        transition: all 1s ease-in-out;
        transition-property: left, right, top;
    }

    .alice {
        left: 76px;
    }

    .bob {
        right: 170px;
    }

    .bob.raw {
        right: 335px;
    }

    .g {
        top: 52px;
    }

    .p {
        top: 123px;
    }

    .a {
        top: 198px;
    }

    .bigA, .bigB {
        top: 274px;
    }

    .bigB.over {
        top: 345px;
    }

    .alice.bigB {
        right: 80%;
        left: auto;
    }

    .alice.bigB.over {
        right: 170px;
        left: auto;
    }

    .bob.bigB {
        left: 80%;
        right: auto;
    }

    .bob.bigB.over {
        left: 76px;
        right: auto;
    }

    .bigK {
        top: 423px;
    }
}